@charset "UTF-8";

html {
  font-size: 100%;
  margin: 0;
}

html,
body,
div,
span {
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

div,
span {
  font-size: 100%;
  margin: 0;
}

h2,
h3,
h4,
h5 {
  font: inherit;
  padding: 0;
  border: 0;
}

h2,
h3,
h4,
h5 {
  vertical-align: baseline;
}

a {
  font-size: 100%;
}

a,
em {
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

em {
  font-size: 100%;
}

img {
  margin: 0;
}

img {
  font: inherit;
  font-size: 100%;
  padding: 0;
}

strong {
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

strong {
  font-size: 100%;
}

i {
  font: inherit;
  margin: 0;
  padding: 0;
}

i {
  vertical-align: baseline;
}

i {
  font-size: 100%;
  border: 0;
}

ul {
  font: inherit;
  vertical-align: baseline;
}

ul,
li {
  font-size: 100%;
  border: 0;
}

li {
  margin: 0;
  padding: 0;
}

li {
  font: inherit;
  vertical-align: baseline;
}

form {
  font-size: 100%;
}

form,
label {
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

header,
nav,
section {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

header,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  background-color: transparent;
}

a:focus,
a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

button,
input {
  line-height: normal;
  margin: 0;
  *vertical-align: middle;
}

input,
select {
  vertical-align: baseline;
}

select {
  line-height: normal;
  *vertical-align: middle;
}

button {
  -webkit-appearance: button;
  *overflow: visible;
}

html input[type='button'] {
  cursor: pointer;
}

html input[type='button'] {
  -webkit-appearance: button;
  *overflow: visible;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

img {
  width: auto;
  height: auto;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  border: 0;
}

form {
  margin: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  display: table;
  content: '';
}

.clearfix:after {
  display: table;
}

img {
  max-width: 100%;
}

.button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: .75em 1em;
  cursor: pointer;
  -webkit-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  -o-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.button,
.btn,
input[type='button'] {
  font-family: "Open Sans",sans-serif;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  background-color: #477dca;
  -webkit-font-smoothing: antialiased;
}

input[type='button'] {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: .75em 1em;
  cursor: pointer;
  -webkit-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  -o-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  background-color: #477dca;
  -webkit-font-smoothing: antialiased;
}

.button:hover,
.button:focus,
.btn:hover,
.btn:focus,
input[type='button']:hover,
input[type='button']:focus,
button:hover,
button:focus {
  color: #fff;
  background-color: #2c5999;
}

.button:active,
.btn:active,
input[type='button']:active,
button:active {
  color: #82a7db;
}

.button:disabled,
.btn:disabled,
input[type='button']:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

input {
  display: block;
}

label {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
}

label,
select {
  display: block;
}

label {
  font-weight: 600;
  margin: 0 0 .375em;
}

input[type="text"] {
  outline: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  margin-bottom: .75em;
  padding: .5em;
  -webkit-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  -o-transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  transition: background-color 750ms ease,color 105ms ease,opacity 45ms ease;
  width: 100%;
}

input[type="text"]:hover {
  border-color: shade(#ddd,20%);
}

input[type="text"]:focus {
  border-color: #477dca;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(55,112,192,.7);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06),0 0 5px rgba(55,112,192,.7);
  outline: none;
}

input[type="text"]:disabled {
  background-color: shade(#fff,5%);
  cursor: not-allowed;
}

input[type="text"]:disabled:hover {
  border: 1px solid #ddd;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: .375em;
}

select {
  max-width: 100%;
  width: auto;
}

ul {
  padding: 0;
}

ul li {
  position: relative;
  margin: 0;
  padding: 0;
}

ul li:before {
  display: block;
  content: '';
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfonte0a5.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.3.0") format("embedded-opentype"),url("../fonts/fontawesome-webfonte0a5.woff2?v=4.3.0") format("woff2"),url("../fonts/fontawesome-webfonte0a5.woff?v=4.3.0") format("woff"),url("../fonts/fontawesome-webfonte0a5.ttf?v=4.3.0") format("truetype"),url("../fonts/fontawesome-webfonte0a5.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'flexslider-icon';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icond41d.eot?#iefix") format("embedded-opentype"),url("../fonts/flexslider-icon.woff") format("woff"),url("../fonts/flexslider-icon.ttf") format("truetype"),url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Light-webfont.woff") format("woff"),url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Bold-webfont.woff") format("woff"),url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfontd41d.eot?#iefix") format("embedded-opentype"),url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}

body {
  background-color: #f2edda;
}

body {
  font-size: 18px;
  line-height: 1.5;
  color: #404040;
}

body,
button {
  font-family: "Open Sans",sans-serif;
}

input {
  color: #404040;
}

input,
select {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h2 {
  font-family: "Open Sans",sans-serif;
  font-size: 1.8888888889em;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 .6666666667em;
}

h3 {
  font-family: "Open Sans",sans-serif;
  font-size: 1.4444444444em;
  font-weight: 400;
  line-height: 36px;
  margin: .6666666667em 0;
  color: #4f4f4f;
}

h4 {
  line-height: 28px;
}

h4 {
  font-family: "Open Sans",sans-serif;
}

h4 {
  font-size: 1.1111111111em;
  margin: .6666666667em 0 0;
}

h4,
h5 {
  font-weight: 600;
}

h5 {
  font-size: 18px;
}

h5 {
  margin: 1em 0;
}

a {
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
  text-decoration: none;
  color: #f33f31;
}

a:hover,
a:focus {
  color: #8d1208;
}

a:active {
  color: #f66c61;
}

p {
  margin-bottom: 1.5em;
}

ul {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: square;
}

li ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}

textarea::-moz-placeholder,
select::-moz-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  opacity: 1;
  color: rgba(33,47,49,.7);
}

select {
  margin: 0 0 1em;
  padding: .75em 1em;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  color: #212531;
  border: 2px solid #fff;
  background: #fff;
}

select:hover {
  border-color: #f99991;
}

select:focus {
  border-color: #f33f31;
  outline: none;
}

select option {
  color: #212531;
}

input[type='text'] {
  margin: 0 0 1em;
  padding: .75em 1em;
  -webkit-transition: border-color .3s;
  -o-transition: border-color .3s;
  transition: border-color .3s;
  color: #212531;
  border: 2px solid #fff;
  background: #fff;
}

input[type='text']:hover {
  border-color: #f99991;
}

input[type='text']:focus {
  border-color: #f33f31;
  outline: none;
}

input[type='email']:-moz-placeholder,
input[type='number']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='text']:-moz-placeholder,
input[type='url']:-moz-placeholder,
input[type='color']:-moz-placeholder,
input[type='date']:-moz-placeholder,
input[type='datetime']:-moz-placeholder,
input[type='datetime-local']:-moz-placeholder,
input[type='month']:-moz-placeholder,
input[type='time']:-moz-placeholder,
input[type='week']:-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='text']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='color']::-moz-placeholder,
input[type='date']::-moz-placeholder,
input[type='datetime']::-moz-placeholder,
input[type='datetime-local']::-moz-placeholder,
input[type='month']::-moz-placeholder,
input[type='time']::-moz-placeholder,
input[type='week']::-moz-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='text']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='color']:-ms-input-placeholder,
input[type='date']:-ms-input-placeholder,
input[type='datetime']:-ms-input-placeholder,
input[type='datetime-local']:-ms-input-placeholder,
input[type='month']:-ms-input-placeholder,
input[type='time']:-ms-input-placeholder,
input[type='week']:-ms-input-placeholder {
  opacity: 1;
  color: rgba(33,47,49,.7);
}

button {
  font-size: .7777777778em;
  font-weight: 700;
  line-height: 1em;
  position: relative;
  padding: 1.25em 2em;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border: none;
  border-radius: 4px;
}

button,
.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #fff!important;
  background-color: #302e27;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  outline: 0;
  background-color: #060605;
}

.btn {
  font-size: 1.1111111111em;
  font-weight: 600;
  line-height: 1em;
  position: relative;
  display: inline-block;
  padding: 1.25em 2em;
  cursor: pointer;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border: 1px solid #242832;
  border-radius: .2222222222em;
  background: #222633;
  background-color: #313644;
  -webkit-box-shadow: 0 1px 4px 0 rgba(33,37,49,.65);
  box-shadow: 0 1px 4px 0 rgba(33,37,49,.65);
  text-shadow: 2px 2px 1px #181b24;
  background: #313644;
  background: -webkit-linear-gradient(-90deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: -webkit-linear-gradient(270deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: -o-linear-gradient(270deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: linear-gradient(180deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
}

.btn:hover,
.btn:focus {
  outline: 0;
  background: #222633;
  background-color: #313644;
  background: #313644;
  background: -webkit-linear-gradient(-90deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: -webkit-linear-gradient(270deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: -o-linear-gradient(270deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
  background: linear-gradient(180deg,#313644 0%,#2b2f3b 50%,#252a37 51%,#1f232e 100%);
}

.btn:hover:after,
.btn:focus:after {
  opacity: .32;
}

.btn:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: ' ';
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  border-radius: .2222222222em;
  background-color: rgba(255,255,255,.1);
  background: rgba(255,255,255,.1);
  background: -webkit-linear-gradient(-90deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.04)100%);
  background: -webkit-linear-gradient(270deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.04)100%);
  background: -o-linear-gradient(270deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.04)100%);
  background: linear-gradient(180deg,rgba(255,255,255,.1)0%,rgba(255,255,255,.04)100%);
}

.btn:active {
  bottom: -1px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:active:after {
  opacity: .15;
}

.pagination {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pagination a,
.pagination span {
  font-weight: 700;
  line-height: 2;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 7px 7px;
  text-align: center;
  opacity: .7;
  color: #fff;
  border: 5px solid transparent;
  border-radius: 4px;
  background-color: #f33f31;
}

.pagination a:hover,
.pagination span:hover {
  opacity: 1;
}

.pagination .current {
  color: #f33f31;
  border: 5px solid #f33f31;
  background-color: #fff;
}

@media screen and (max-width:40em) {
  .btn {
    font-size: .8888888889em;
    line-height: 1em;
    padding: .8em 1.6em;
  }

  #site-navigation:not(:target) {
    z-index: 1;
    height: 0;
  }
}

@media print {
  *,
  *:before,
  *:after {
    color: #000!important;
    background: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a {
    text-decoration: underline;
  }

  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href)")";
  }

  a[href^='#']:after {
    content: '';
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
